.condiciones {
    font-size: 13px
}

#detalle-servicio .parrafo {
    line-height: 18px
}

.bub-right {
    background-color: #f8f9fa;
    padding: 51px 0;
}

.contact_us_area {
    padding: 10px 0;
    margin: 200px 0 40px 0;
    background-color: #e8fcf7;
}

.demo-video {
    padding-bottom: 120px
}

.garantia {
    display: none;
}

.normatividad .card {
    padding: 10px;
    margin: 10px 10px;
    max-height: 700px;
    overflow: auto;
}

.services-block-four .text {
    line-height: 10px, line-height: 16px;
    font-size: 12px !important;
}

#section-anexos {
    /* background: #fdfdfd7d !important; */
    margin: 0;
    padding: 52px 0;
    margin-top: 300px;
}

.section-formatos {
    padding: 30px 0;
    background-color: #f8f9fa;
    margin-top: 200px;
}

.section-formatos a {
    font-size: 13px
}

.section-formatos input[type=file] {
    width: 219px;
}

.page-header {
    border-bottom: 1px #0000003d solid;
    margin: 10px 0 35px 0;
}