/*
=================================================
---------estilos boton whatsapp-----------------
================================================= */

.appWhatsapp {
    position: fixed;
    left: 26px;
    bottom: 45px;
    width: 66px;
    z-index: 1000;
}

.appWhatsapp:hover {
    transform: scale(1.2);
}

.appWhatsapp img {
    width: 100%;
    height: auto;
}

.puntos {
    text-align: center;
}

#detalle-noticias {
    z-index: 5000;
    position: absolute;
}

/*============================home=====================*/
#detalle-servicio .parrafo{
    color:#000 !important;
}

h2.name-linea {
    display: block;
    border-bottom: 1px #0003 solid;
    padding: 10px 0 25px 0;
}
#detalle-servicio .check-square{
    max-width: 50px
}

a.btn.btn-link.btn-servicio {
    margin: 15px 0 0 0;
    border: 1px #00b397 solid;
}
.btn-servicio i.fa.fa-info-circle {
    color: #f5a827;
}
.btn-mas-servicios{
    margin: 20px 0 0 0
}

/* ==================================  Noticias  =======================
=======================================================================#004552 */


/* .noti {
    background-color: #f3f3f3;
} */

.caja_noti {
    border-right: 1px dotted #46b6cf;
    border-bottom: 2px dotted #46b6cf;
    border-radius: 25px;
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #b5e1ea;
    border-left: 1px solid #b5e1ea;
}

.logo1 {
    width: 80px !important;
    height: auto;
    margin-bottom: 1px !important;
}

.nombre {
    border-radius: 10px;
    /* background-color: #004e5a !important; */
    color: #f8f9fa;
}

.icon_index {
    font-size: 60px;
}

#modal_resena {
    z-index: 5000 !important;
    position: absolute;
    top: 0
}

.resena {
    background-color: #00b397 !important;
}


/* ==================================slider home=======================
=======================================================================#004552 */

.section_home {
    border-top: 80px #46b6cf solid;
}

.carousel-item{
    max-height: 750px;
    overflow:hidden;
    background-attachment: fixed;
}
.carousel-item img {
   
}

.contain {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.section_home {
    margin-bottom: 100px;
}
.service_single_content .service_icon img{
    display: block;
    max-width: 100px;
}

/*======================== landing nosotros =====================*/

.cabezera_nosotros .breadcumb--con {
    padding-top: 0px;
}

.cabezera_nosotros .breadcumb--con  h2{
    font-size: 50px !important;
    font-weight: bold;
    border-bottom: 4px #fff solid;
    max-width: 250px;
    margin: 15px auto;
}

.welcome-thumb-resema img {
    margin: -78px 2px 11px 43px;
    padding: 12px 20px 22px 0px;
    border-radius: 46px;
}

.welcome-thumb-resema {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    border: 1px solid #ff5722;
    border-radius: 15px;
    padding: -1px 7px 0 0;
    padding: 10px 0;
}
.icono-lista{
    max-width: 50px
}

/*============================= end landign ======================*/


/* =============================   cabezera    =======================
=======================================================================#004552 */

.cabezera_nosotros {
    height: 600px;
    /* width: 100%; */
    border-top: 80px #46b6cf solid;
}

.cabezera_noticia {
    height: 600px;
    /* width: 100%; */
    border-top: 80px #46b6cf solid;
}

.cabezera_galeria {
    height: 600px;
    /* width: 100%; */
    border-top: 80px #46b6cf solid;
}

.cabezera_servicios {
    height: 700px;
    /* width: auto; */
    border-top: 80px #46b6cf solid;
}

.cabezera_pqrs {
    height: 600px;
    /* width: auto; */
    border-top: 80px #46b6cf solid;
}

.cabezera-anexos {
    height: 600px;
    /* width: auto; */
    border-top: 80px #46b6cf solid;
}

.cabezera-contacto {
    height: 600px;
    /* width: auto; */
    border-top: 80px #46b6cf solid;
}


/* ================================  Galeria   ========================
=======================================================================#004552 */

.header_galeria {
    /* padding: 40px 0; */
    background-color: white;
}
.cabezera_galeria .breadcumb--con, .cabezera_servicios .breadcumb--con, .cabezera_pqrs .breadcumb--con,.cabezera-anexos .breadcumb--con,.cabezera-contacto .breadcumb--con{
    padding-top: 0px;
}

.breadcumb-content {
    position: absolute !important;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 10;
}